<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- 日期插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
    
    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div style="width: 100%;">
									<div id="showform">
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">姓名</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="NAME" id="NAME" v-model="pd.NAME" maxlength="255" placeholder="这里输入姓名" title="姓名">
		                                </div>
		                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">性别</span></span>
		                                    </div>
		                                    <select style="height: 31px" class="form-control" ref="SEX" id="SEX" v-model="pd.SEX" title="性别">
		                                    	<option value="" >请选择性别</option>
		                                    	<option vlalue="男">男</option>
		                                    	<option vlalue="女">女</option>
		                                    </select>
		                                </div>
		                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">年龄</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="AGE" id="AGE" v-model="pd.AGE" maxlength="3" placeholder="这里输入年龄" title="年龄">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">身份证号</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="ID_CARD" id="ID_CARD" v-model="pd.ID_CARD" maxlength="255" placeholder="这里输入身份证号" title="身份证号">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">联系电话</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="PHONE" id="PHONE" v-model="pd.PHONE" maxlength="20" placeholder="这里输入联系电话" title="联系电话">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">密码</span></span>
		                                    </div>
		                                    <input type="password" class="form-control" ref="PASSWORD" id="PASSWORD" maxlength="255" placeholder="这里输入密码" title="密码">
		                                </div>
		                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">确认密码</span></span>
		                                    </div>
		                                    <input type="password" class="form-control" ref="REPASSWORD" id="REPASSWORD" v-model="pd.REPASSWORD" maxlength="255" placeholder="这里输入确认密码" title="确认密码">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">生日</span></span>
		                                    </div>
					                        <input type="text" class="form-control date" id="BIRTHDAY" ref="BIRTHDAY" placeholder="请选择生日" title="请选择生日">
		                                </div>
		                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">家庭住址</span></span>
		                                    </div>
		                                    <select style="height: 31px" v-on:change='changeProvince' class="form-control" ref="PROVINCE" id="PROVINCE" v-model="pd.PROVINCE" title="省份"></select> 
		                                	<select v-show="pd.PROVINCE!=''" style="height: 31px" v-on:change='changeCity' class="form-control" ref="CITY" id="CITY" v-model="pd.CITY" title="市"></select> 
		                                    <select v-show="pd.PROVINCE!=''&&pd.CITY!=''&&flag==true" style="height: 31px" class="form-control" ref="DISTRICT" id="DISTRICT" v-model="pd.DISTRICT" title="区"></select> 
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">既往病史</span></span>
		                                    </div>
											<textarea style="height: 150px" class="form-control" ref="PAST_HISTORY" id="PAST_HISTORY" v-model="pd.PAST_HISTORY" maxlength="1000" placeholder="这里输入既往病史" title="既往病史"></textarea>		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">绑定设备号</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="IMEI" id="IMEI" v-model="pd.IMEI" maxlength="20" placeholder="这里输入绑定设备号" title="绑定设备号">
		                                </div>
							            
							            <div class="input-group" style="margin-top:10px;background-color: white" >
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
							            	</span>
							            </div>
							       </div>
						           <!-- [加载状态 ] start -->
								    <div id="jiazai" style="display:none;margin-top:50px;">
								    	<div class="d-flex justify-content-center">
	                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
								    <!-- [ 加载状态  ] End -->
								</div>
	    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 日期插件 -->
<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../assets/js/pages/form-picker-custom.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<script type="text/javascript">

var vm = new Vue({
	el: '#app',
	
	data:{
		PATIENT_ID: '',	//主键ID
		pd: {'SEX':'','PROVINCE':"",'CITY':"",'DISTRICT':"",'BIRTHDAY':''},						//存放字段参数
		msg:'add',
		flag:true   //是否有区县列表
    },
	
	methods: {
		
        //初始执行
        init() {
        	var FID = this.getUrlKey('FID');	//当接收过来的FID不为null时,表示此页面是修改进来的
        	if(null != FID){
        		this.msg = 'edit';
        		this.PATIENT_ID = FID;
        		this.getData();
        	}
        	setTimeout(function(){
        		vm.getDict();
            },200);
        },

        getProvince:function(){
        	$.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'region/getChildrenByPid',
		    	data: {pid:'1'},
				dataType:"json",
				success: function(data){
                     if(1 == data.code){
                     	$("#PROVINCE").append("<option value='' data-id=''>请选择省份</option>");
					 	$.each(data.result, function(i, dvar){
						 	if(vm.pd.PROVINCE == dvar.regionName){
						  	$("#PROVINCE").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
						  	$.ajax({
				            	xhrFields: {
				                    withCredentials: true
				                },
								type: "POST",
								url: httpurl+'region/getChildrenByPid',
						    	data: {pid:dvar.id},
								dataType:"json",
								success: function(data){
				                     if(1 == data.code){				                     	
				                     	$("#CITY").empty();
				                     	$("#CITY").append("<option value='' data-id=''>请选择城市</option>");
									 	$.each(data.result, function(i, dvar){
										 if(vm.pd.CITY == dvar.regionName){
										  	$("#CITY").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
										  	$.ajax({
								            	xhrFields: {
								                    withCredentials: true
								                },
												type: "POST",
												url: httpurl+'region/getChildrenByPid',
										    	data: {pid:dvar.id},
												dataType:"json",
												success: function(data){
								                     if(1 == data.code){
								                     	if(data.result.length==0){
								                     		vm.flag=false
								                     	}else{
								                     		vm.flag=true
								                     	}
								                     	$("#DISTRICT").empty();
								                     	$("#DISTRICT").append("<option value='' data-id=''>请选择区县</option>");
													 	$.each(data.result, function(i, dvar){
														 if(vm.pd.DISTRICT == dvar.regionName){
														  	$("#DISTRICT").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
														 }else{
															$("#DISTRICT").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
														 }
													 });
								                     }else if ("exception" == data.result){
								                     	showException("患者信息",data.exception);	//显示异常
								                     	$("#showform").show();
								                 		$("#jiazai").hide();
								                     }
								                  }
											}).done().fail(function(){
								                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
								                  $("#showform").show();
								          		  $("#jiazai").hide();
								               });										  	
										 }else{
											$("#CITY").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
										 }
									 });
				                     }else if ("exception" == data.result){
				                     	showException("患者信息",data.exception);	//显示异常
				                     	$("#showform").show();
				                 		$("#jiazai").hide();
				                     }
				                  }
							}).done().fail(function(){
				                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
				                  $("#showform").show();
				          		  $("#jiazai").hide();
				               });
						 }else{
							$("#PROVINCE").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
						 }
					 	});
                     }else if ("exception" == data.result){
                     	showException("患者信息",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
        },

        //选择省份
        changeProvince: function(){
        	var id = $("#PROVINCE").find("option:selected").attr("data-id")
        	vm.pd.CITY=''
        	vm.pd.DISTRICT=''
        	if(id==''){
        		return;
        	}
        	$.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'region/getChildrenByPid',
		    	data: {pid:id},
				dataType:"json",
				success: function(data){
                     if(1 == data.code){
                     	$("#CITY").empty();
                     	$("#CITY").append("<option value='' data-id=''>请选择城市</option>");
					 	$.each(data.result, function(i, dvar){
						 if(vm.pd.CITY == dvar.regionName){
						  	$("#CITY").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
						 }else{
							$("#CITY").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
						 }
					 });
                     }else if ("exception" == data.result){
                     	showException("患者信息",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
        },
        //选择城市
        changeCity: function(){
        	var id = $("#CITY").find("option:selected").attr("data-id")
        	vm.pd.DISTRICT=''
        	if(id==''){
        		return;
        	}
        	$.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'region/getChildrenByPid',
		    	data: {pid:id},
				dataType:"json",
				success: function(data){
                     if(1 == data.code){
                     	if(data.result.length==0){
                     		vm.flag=false
                     	}else{
                     		vm.flag=true
                     	}
                     	$("#DISTRICT").empty();
                     	$("#DISTRICT").append("<option value='' data-id=''>请选择区县</option>");
					 	$.each(data.result, function(i, dvar){
						 if(vm.pd.DISTRICT == dvar.regionName){
						  	$("#DISTRICT").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
						 }else{
							$("#DISTRICT").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
						 }
					 });
                     }else if ("exception" == data.result){
                     	showException("患者信息",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });

        },
        
        //去保存
    	save: function (){
    		
			if(this.pd.NAME == '' || this.pd.NAME == undefined){
				$("#NAME").tips({
					side:3,
		            msg:'请输入姓名',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.NAME = '';
				this.$refs.NAME.focus();
			return false;
			}
			if(this.pd.ID_CARD == '' || this.pd.ID_CARD == undefined){
				$("#ID_CARD").tips({
					side:3,
		            msg:'请输入身份证号',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.ID_CARD = '';
				this.$refs.ID_CARD.focus();
			return false;
			}
			if(this.pd.SEX == '' || this.pd.SEX == undefined){
				$("#SEX").tips({
					side:3,
		            msg:'请选择性别',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.SEX = '';
				this.$refs.SEX.focus();
			return false;
			}
			if(this.pd.AGE == '' || this.pd.AGE == undefined){
				$("#AGE").tips({
					side:3,
		            msg:'请输入年龄',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.AGE = '';
				this.$refs.AGE.focus();
			return false;
			}
			if(this.pd.PHONE == '' || this.pd.PHONE == undefined){
				$("#PHONE").tips({
					side:3,
		            msg:'请输入联系电话',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.PHONE = '';
				this.$refs.PHONE.focus();
			return false;
			}
			var password = $("#PASSWORD").val();
			if(this.msg=='add'){
				if(password == '' || password == undefined){
				$("#PASSWORD").tips({
					side:3,
		            msg:'请输入密码',
		            bg:'#AE81FF',
		            time:2
		        });
				this.$refs.PASSWORD.focus();
				return false;
				}
				if(this.pd.REPASSWORD == '' || this.pd.REPASSWORD == undefined){
					$("#REPASSWORD").tips({
						side:3,
			            msg:'请输入确认密码',
			            bg:'#AE81FF',
			            time:2
			        });
					this.pd.REPASSWORD = '';
					this.$refs.REPASSWORD.focus();
				return false;
				}
				if(password!=this.pd.REPASSWORD){
					$("#REPASSWORD").tips({
						side:3,
			            msg:'两次密码不一致！',
			            bg:'#AE81FF',
			            time:2
			        });
					this.pd.REPASSWORD = '';
					this.$refs.REPASSWORD.focus();
				return false;
				}
			}else{
				if(password!=''){
					if(this.pd.REPASSWORD == '' || this.pd.REPASSWORD == undefined){
					$("#REPASSWORD").tips({
						side:3,
			            msg:'请输入确认密码',
			            bg:'#AE81FF',
			            time:2
			        });
					this.pd.REPASSWORD = '';
					this.$refs.REPASSWORD.focus();
					return false;
					}
					if(password!=this.pd.REPASSWORD){
						$("#REPASSWORD").tips({
							side:3,
				            msg:'两次密码不一致！',
				            bg:'#AE81FF',
				            time:2
				        });
						this.pd.REPASSWORD = '';
						this.$refs.REPASSWORD.focus();
					return false;
					}
				}
			}			
			if($("#BIRTHDAY").val()==''){
				$("#BIRTHDAY").tips({
					side:3,
		            msg:'请选择生日',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.BIRTHDAY = '';
				this.$refs.BIRTHDAY.focus();
			return false;
			}
			if(this.pd.PROVINCE == '' || this.pd.PROVINCE == undefined){
				$("#PROVINCE").tips({
					side:3,
		            msg:'请选择省份',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.PROVINCE = '';
				this.$refs.PROVINCE.focus();
			return false;
			}
			if(this.pd.CITY == '' || this.pd.CITY == undefined){
				$("#CITY").tips({
					side:3,
		            msg:'请选择市',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.CITY = '';
				this.$refs.CITY.focus();
			return false;
			}
			if(this.pd.DISTRICT == '' || this.pd.DISTRICT == undefined){
				if(vm.flag==true){
					$("#DISTRICT").tips({
						side:3,
			            msg:'请选择区',
			            bg:'#AE81FF',
			            time:2
			        });
					this.pd.DISTRICT = '';
					this.$refs.DISTRICT.focus();
					return false;
				}
			}
    		
			if(this.pd.PAST_HISTORY == '' || this.pd.PAST_HISTORY == undefined){
				$("#PAST_HISTORY").tips({
					side:3,
		            msg:'请输入既往病史',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.PAST_HISTORY = '';
				this.$refs.PAST_HISTORY.focus();
			return false;
			}
			if(this.pd.IMEI == '' || this.pd.IMEI == undefined){
				$("#IMEI").tips({
					side:3,
		            msg:'请输入绑定设备号',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.IMEI = '';
				this.$refs.IMEI.focus();
			return false;
			}
			
    		$("#showform").hide();
    		$("#jiazai").show();
    		
            //发送 post 请求提交保存
            $.ajax({
	            	xhrFields: {
	                    withCredentials: true
	                },
					type: "POST",
					url: httpurl+'patient/'+this.msg,
			    	data: {PATIENT_ID:this.PATIENT_ID,
				    NAME:this.pd.NAME,
				    ID_CARD:this.pd.ID_CARD,
				    PHONE:this.pd.PHONE,
				    PASSWORD:password,
				    BIRTHDAY:$("#BIRTHDAY").val(),
				    PAST_HISTORY:this.pd.PAST_HISTORY,
				    IMEI:this.pd.IMEI,
				    PROVINCE:this.pd.PROVINCE,
				    CITY:this.pd.CITY,
				    DISTRICT:this.pd.DISTRICT,
				    AGE:this.pd.AGE,
				    SEX:this.pd.SEX,
			    	tm:new Date().getTime()},
					dataType:"json",
					success: function(data){
                        if("success" == data.result){
                        	swal("", "保存成功", "success");
                        	setTimeout(function(){
                        		top.Dialog.close();//关闭弹窗
                            },1000);
                        }else if ("exception" == data.result){
                        	showException("患者信息",data.exception);//显示异常
                        	$("#showform").show();
                    		$("#jiazai").hide();
                        }
                    }
				}).done().fail(function(){
                   swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                   $("#showform").show();
           		   $("#jiazai").hide();
                });
    	},
    	
    	//根据主键ID获取数据
    	getData: function(){
    		//发送 post 请求
            $.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'patient/goEdit',
		    	data: {PATIENT_ID:this.PATIENT_ID,tm:new Date().getTime()},
				dataType:"json",
				success: function(data){
                     if("success" == data.result){
                     	vm.pd = data.pd;							//参数map
                     	$("#BIRTHDAY").val(vm.pd.BIRTHDAY)
                     	vm.getProvince();
                     }else if ("exception" == data.result){
                     	showException("患者信息",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
    	},
    	
    	//获取数据字典数据
		getDict: function (){
			$.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'region/getChildrenByPid',
		    	data: {pid:"1"},
				dataType:"json",
				success: function(data){
                     if(1 == data.code){
                     	$("#PROVINCE").empty();
                     	$("#PROVINCE").append("<option value='' data-id=''>请选择省份</option>");
					 	$.each(data.result, function(i, dvar){
						 if(vm.pd.PROVINCE == dvar.regionName){
						  	$("#PROVINCE").append("<option value="+dvar.regionName+" data-id="+dvar.id+" selected>"+dvar.regionName+"</option>");
						 }else{
							$("#PROVINCE").append("<option value="+dvar.regionName+" data-id="+dvar.id+">"+dvar.regionName+"</option>");
						 }
					 });
                     }else if ("exception" == data.result){
                     	showException("患者信息",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
		},
    	
    	//根据url参数名称获取参数值
        getUrlKey: function (name) {
            return decodeURIComponent(
                (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }
        
	},
	
	mounted(){
        this.init();
    }
})
				
</script>

</body>
</html>